@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.service-figure {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;

  width: auto;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #0b138a;
}
figure.service-figure *,
figure.service-figure *:before,
figure.service-figure *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.service-figure img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.service-figure .title {
  position: absolute;
  top: 70%;
  left: 5px;
  padding: 5px 10px 10px;
}

figure.service-figure .title:before {
  top: 0;
  left: 100px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.service-figure .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.service-figure .title div:before,
figure.service-figure .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: "";
  background-color: #ffffff;
}
figure.service-figure .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.service-figure .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

figure.service-figure h2 {
  margin: 0;
  font-size: small;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}



figure.service-figure h3 {
  display: block;
  font-size:xx-small;
  font-weight: 400;
  background-color: #e7e4e4;
  padding: 5px 10px;
  color: #000000;
}
figure.service-figure figcaption {
  position: absolute;
  bottom: 40%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.service-figure figcaption p {
  margin: 0;
}
figure.service-figure a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.service-figure:hover img,
figure.service-figure.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.service-figure:hover .title:before,
figure.service-figure.hover .title:before,
figure.service-figure:hover .title:after,
figure.service-figure.hover .title:after,
figure.service-figure:hover .title div:before,
figure.service-figure.hover .title div:before,
figure.service-figure:hover .title div:after,
figure.service-figure.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.service-figure:hover .title:before,
figure.service-figure.hover .title:before,
figure.service-figure:hover .title:after,
figure.service-figure.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.service-figure:hover figcaption,
figure.service-figure.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

@media (max-width: 768px) {
  

  figure.service-figure {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    overflow: hidden;

    width: auto;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #0a1391;
  }

  figure.service-figure img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
  }
  figure.service-figure .title {
    position: absolute;
    top: 70%;
    left: 5px;
    padding: 5px 10px 10px;
  }

  figure.service-figure h2 {
    margin: 0;
    text-transform: uppercase;
  }

  figure.service-figure h2 {
    display: block;
    font-size: 15px;
    font-weight: 400;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }

  figure.service-figure h3 {
    display: block;
    font-size: 13px;
    font-weight: 200;
    background-color: #e7e4e4;
    padding: 5px 10px;
    color: #000000;
  }
}
